
#scanner {
	-fx-background-color: rgba(255, 0, 0, 0.4);
}

#scannerError {
	-fx-background-color: yellow;
	-fx-fill: red;
}

#bracketcount {
	-rtfx-background-color: yellow;
	-fx-fill: magenta;
	-fx-font-weight: bold;
}

#bracketmismatch {
	-rtfx-background-color: yellow;
	-fx-fill: orange;
	-fx-font-weight: bold;
}

#semicolon {
	-rtfx-background-color: yellow;
	-fx-fill: green;
	-fx-font-weight: bold;
}